<div class="component no-data-message">
  <p>
    We do not have the data necessary for generating estimates for {{municipality}}'s {{sector}} sector. This could mean that there is
    no {{sector}} sector in {{municipality}} or that {{municipality}}'s
    {{sector}} sector data was not published in the sources used in our
    methodology.
  </p>
  <p>
    For more information about how we calculate our estimates, please read our 
    {{link-to 'methodology' 'methodology' class='styled'}} page.
  </p>
</div>
