<section class="component pie-chart-layout content-wrapper">

  <div class="chart-modifiers">
    <h4>
      {{acronyze municipality}}'s Energy

      <span class='power-select'>
        {{#power-select
          options=metrics
          selected=selectedMetric
          onchange=(action 'changeChartMetric')
          as |metric|
        }}
          {{metric}}
        {{/power-select}}
      </span>
    </h4>
    <h5>by Fuel Source</h5>

    <div class="criteria-selector">
      <h4>Type of {{criteriaName}}: </h4>
      <div class="select-wrapper">
        <select onchange={{action 'changeChartCriteria' value='target.value'}}>
          <option value='all' selected>All</option>
          {{#each chartCriteria as |criterion|}}
            <option value={{criterion}}>{{capitalize criterion}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>

  <div class="chart-wrapper">
    {{pie-chart data=chartData metric=metric title="Fuel Chart"}}
  </div>

</section>
