<p class="component sector-analysis">
  The industry that consumes the most energy in {{municipality}} is {{topConsumingName}}.
  {{topConsumingString}} up {{topConsumingPercentage}}% of the industrial building 
  consumption in {{municipality}}. The industrial sector consumes more {{topFuel}} than {{otherFuels}}. 
  The {{topEmissionsName}} industry accounts for {{topEmissionsPercentage}}% of industrial greenhouse gas emissions 
  in {{municipality}} annually.  
</p>
