<p class="component sector-analysis">
  The {{lowercase criteriaName}} type that consumes the most energy in {{municipality}} is 
  {{topConsumingName}}. {{topConsumingString}} up {{topConsumingPercentage}}% of the {{sector}} 
  building consumption in {{municipality}}. The {{sector}} sector consumes more {{topFuel}} than 
  {{otherFuels}}. The {{topEmissionsName}} {{lowercase criteriaName}} type accounts for 
  {{topEmissionsPercentage}}% of {{sector}} greenhouse gas emissions in {{municipality}} annually.  
</p>
