<section class="component spider-chart-layout content-wrapper">

  <div class="comparison-selector">

    <div class="selection-box">
      Compare {{municipality}} to:

      <div class="power-select">
        {{#power-select
          options=municipalityList
          placeholder="Add Municipality"
          destination="power-select-destination"
          onchange=(action 'addToComparisonList')
          as |municipality|
        }}
          {{municipality}}
        {{/power-select}}

        <div id="power-select-destination"></div>
      </div>
    </div>

    <ul class="comparison-list">
      {{#each comparisonList as |municipality|}}
        <li style="border-color: {{municipality.color}}">
          {{municipality.name}}
          <span {{action 'removeFromComparisonList' municipality}} class="remove">x</span>
        </li>
      {{/each}}
    </ul>

  </div><!--/ .comparison-selector -->

  <div class="comparison-window">
    <div class="spider-chart">
      {{spider-chart 
        municipality=municipality 
        valueMap=valueMap
        sector=sector 
        data=chartData
      }}
    </div>
  </div>

</section>
