<section class="component spider-chart-layout">

  <div class="comparison-selector">

    <div class="selection-box">
      Compare {{municipality}} to:
      <div class="select-wrapper">
        <select onchange={{action 'addToComparisonList' value="target.value"}}> 
          <option disabled selected>-- Municipality --</option>
          {{#each municipalityList as |municipality|}}
            <option value={{municipality}}>{{municipality}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <ul class="comparison-list">
      {{#each comparisonList as |municipality|}}
        <li>
          {{municipality}} <span {{action 'removeFromComparisonList' municipality}}>x</span>
        </li>
      {{/each}}
    </ul>

  </div><!--/ .comparison-selector -->


  <div class="spider-charts">
    {{spider-chart municipality=municipality data=chartData}}
  </div>

</section>
