<section class="route city-index">

  <div class="city-information">
    <div class="content-wrapper">
      <h1>{{municipality}}: All Sectors</h1>
      <p>
        Sit perferendis sapiente facere impedit quo sed assumenda! Illo nulla illum doloremque molestias facere possimus architecto laboriosam aperiam aut nisi nihil perferendis dolorum in qui. Omnis aut hic officiis neque.
        Ipsum quod itaque dignissimos quam optio eaque minima quibusdam! Illum sapiente minus ullam vitae provident et assumenda? Dignissimos quod reprehenderit quaerat distinctio ad, tempora. Vitae perspiciatis ipsum provident voluptates molestiae.
      </p>
      <img class="sector-graphic" src="/assets/images/total.svg">
    </div>
  </div>

  <div class="city-overview-table content-wrapper"> 

    <article class="table-header">
      <div class="row-index">
        <h2>How does {{municipality}} spend energy?</h2>
      </div>
      <div class="row-values">
        {{#each sectors as |sector|}}
          <div class="row-value">
            <h5>{{uppercase sector}}</h5>
            <img src="/assets/images/{{sector}}.svg" class="sector-icon">
          </div>
        {{/each}}
      </div>
    </article>

    {{#each fuelTypeData as |typeData|}}
      <article class="type-row">

        <div class="row-index">
          <h4>{{uppercase typeData.type}}</h4>

          <div class="type-icon-wrapper">
            <img src="/assets/images/{{normalize-slug typeData.type}}.svg">
          </div>

          <div class="metrics">
            <h5 class="consumption">CONSUMPTION</h5>
            <h5 class="emissions">EMISSIONS</h5>
            <h5 class="cost">COST</h5>
          </div>
        </div><!--/ .row-index -->

        <div class="row-values">
          {{#each typeData.sectors as |sector|}} 
            <div class="row-value">
              <h5 class="consumption">{{sector.consumption}}%</h5>
              <h5 class="emissions">{{commas sector.emissions}} ppm</h5>
              <h5 class="cost">${{commas sector.cost}}mm</h5>
            </div>
          {{/each}}
        </div><!--/ .row-values -->

      </article>
    {{/each}}

  </div><!--/ .city-overview-table -->

</section>
