<section class="route city-index">

  <div class="city-information">
    <div class="content-wrapper">
      <div class="content-copy">
        <h1>{{municipality}}: At a Glance</h1>
        <p>
          {{acronyze municipality}} is a municipality with a population of {{commas populationCensus.estimate}} as
          of the {{populationCensus.year}} Census. {{acronyze municipality}} is responsible for emitting {{commas totalEmissions}}
          lbs. CO<small>2</small>e greenhouse gas emissions each year. In {{acronyze municipality}}, the {{capitalize largestEmitter}} sector
          produces {{largestEmitterPerc}} percent of the total emissions resulting from the local built environment – making it
          {{acronyze municipality}}’s largest greenhouse gas emitter.
        </p>
      </div>
      <div class="sector-graphic-wrapper">
        <img
          class="sector-graphic"
          src="/assets/images/total.svg"
          alt="Total: All Sectors"
        >
      </div>
    </div>
  </div>

  <div class="city-overview-table content-wrapper">
    <article class="table-header">
      <div class="row-index">
        <h2>How do {{acronyze municipality}}'s homes &amp; businesses consume energy?</h2>
      </div>

      <div class="row-values">
        {{#each sectors as |sector|}}
          <div class="row-value">
            <h5>{{uppercase sector}}</h5>
            <img
              src="/assets/images/{{sector}}.svg"
              class="sector-icon"
              alt={{capitalize sector}}
            >
          </div>
        {{/each}}
      </div>
    </article>

    {{#each fuelTypeData as |typeData|}}
      <article class="type-row">
        <div class="row-index">
          <h4>{{uppercase typeData.type}} {{#if typeData.footnote}}<span>*</span>{{/if}}</h4>

          <div class="type-icon-wrapper">
            <img src="/assets/images/{{normalize-slug typeData.type}}.svg">
          </div>

          <div class="metrics">
            <h5 class="consumption">CONSUMPTION</h5>
            <h5 class="emissions">EMISSIONS</h5>
            <h5 class="cost">COST</h5>
          </div>
        </div>

        <div class="row-values">
          {{#each typeData.sectors as |sector|}}
            <div class="row-value">
              <h5 class="consumption">{{sector.consumptionPercentage}}%</h5>
              <h5 class="emissions">{{sector.emissionsPercentage}}%</h5>
              <h5 class="cost">${{commas sector.costPercentage}}</h5>
            </div>
          {{/each}}
        </div>
      </article>
    {{/each}}

    <div class="table-footer">
      <div class="footnote">
        <span>*</span> If your city or town uses <a href="http://www.mapc.org/cca">Green Municipal Aggregation</a>,
        actual electricity emissions may be significantly lower than this estimate.
      </div>

      <button {{action "downloadTableData"}}>
        Download Summary Data <img src="/assets/images/download.svg" alt="Download">
      </button>
    </div>
  </div>

  <div class="city-overview-flipper content-wrapper">
    <div class="city-overview-flipper-content">
      Rotate device to view "Sector Overview" table
      <img src="/assets/images/flip.svg" alt="Rotate Screen">
    </div>
  </div>

  <div class="over-time-table content-wrapper">
    {{stacked-area-chart-layout
      data=model
      municipality=municipality
    }}
  </div>

  <div class="overview-compare content-wrapper">
    <h2>
      How does this compare to

      <div class="power-select">
        {{#power-select
          options=municipalities
          selected=comparingTo.municipality
          destination="power-select-destination"
          onchange=(action "compareTo")
        as |municipality|
        }}
          {{municipality}}
        {{/power-select}}

        <div id="power-select-destination"></div>
      </div>
    </h2>

    <div class="comparison-tables">
      <div class="comparison-table-wrapper">
        <h4>Percent of Total Energy <span>Consumption</span></h4>

        <div class="comparison-table">
          <div class="comparison-column">
            <h5></h5>
            {{#each fuelNames as |name|}}
              <div>
                <img
                  src="/assets/images/{{normalize-slug name}}.svg"
                  alt="Fuel: {{capitalize name}}"
                >
              </div>
            {{/each}}
          </div>

          <div class="comparison-column current-muni">
            <h5>{{uppercase (acronyze municipality)}}</h5>
            {{#each fuelPercentages.consumption as |value|}}
              <div><span>{{value}}%</span></div>
            {{/each}}
          </div>

          <div class="comparison-column">
            <h5 {{action "changeMunicipality" comparingTo.municipality}}>{{uppercase (acronyze comparingTo.municipality)}}</h5>
            {{#each comparingTo.consumption as |value|}}
              <div><span>{{value}}%</span></div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="comparison-table-wrapper">
        <h4>Percent of Total Energy <span>Emissions</span></h4>

        <div class="comparison-table">
          <div class="comparison-column">
            <h5></h5>
            {{#each fuelNames as |name|}}
              <div>
                <img
                  src="/assets/images/{{normalize-slug name}}.svg"
                  alt="Fuel: {{capitalize name}}"
                >
              </div>
            {{/each}}
          </div>

          <div class="comparison-column current-muni">
            <h5>{{uppercase (acronyze municipality)}}</h5>
            {{#each fuelPercentages.emissions as |value|}}
              <div><span>{{value}}%</span></div>
            {{/each}}
          </div>

          <div class="comparison-column">
            <h5 {{action "changeMunicipality" comparingTo.municipality}}>{{uppercase (acronyze comparingTo.municipality)}}</h5>
            {{#each comparingTo.emissions as |value|}}
              <div><span>{{value}}%</span></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
