<section class="route city-industrial">
  <div class="city-information">
    <div class="content-wrapper">
      <div class="content-copy">
        <h1>{{municipality}}: Industrial</h1>
        <p>
          The industry that consumes the most energy in {{municipality}} is {{topConsumingIndustry}}.
          {{topConsumingIndustriesString}} up [x] percent of the industrial sector consumption 
          in {{municipality}}. The industrial sector consumes more [fuel type] than [other fuel types]. 
          The [industry type] industry accounts for [x] percent of industrial greenhouse gas emissions 
          in {{municipality}} annually. 
        </p>
      </div>
      <div class="sector-graphic-wrapper">
        <img class="sector-graphic" src="/assets/images/industrial.svg">
      </div>
    </div>
  </div>

  {{pie-chart-layout 
    data=sectorData
    criteria=criteria 
    criteriaColumn=criteriaColumn
    criteriaName='Industry' 
    municipality=municipality 
  }}

  {{spider-chart-layout 
    action='fetchDataFor'
    data=sectorData 
    criteria=criteriaColumn
    municipalities=municipalities
    municipality=municipality 
    sector=sector
  }}

</section>
