<section class="route city">

  <nav class="city-nav">

    {{#link-to 'index' class="home-button"}}
      <img src="/assets/images/house.svg">  
    {{/link-to}}

    <ul>
      <li>{{model.municipality}}</li>
      {{link-to 'All Sectors' 'city.index' tagName='li' class="link"}}
      {{link-to 'Industrial' 'city.industrial' tagName='li' class="link"}}
      {{link-to 'Commercial' 'city.commercial' tagName='li' class="link"}}
      {{link-to 'Residential' 'city.residential' tagName='li' class="link"}}
    </ul>

  </nav><!--/ .menu -->

  <div class="content-window">
    {{outlet}}
  </div>

</section>
