<section class="route city">

  <nav class="city-nav">

    {{#link-to 'index' class="home-button"}}
      <img src="/assets/images/house.svg">  
    {{/link-to}}

    <ul>
      <li><span>{{model.municipality}}</span></li>
      <li>
        {{link-to 'All Sectors' 'city.index'}}
      </li>
      {{#each sectors as |sector|}}
        <li>
          {{#if sector.disabled}}
            {{sector.name}}
          {{else}}
            {{link-to sector.name sector.route}}
          {{/if}}
        </li>
      {{/each}}
    </ul>

  </nav><!--/ .menu -->

  <div class="content-window">
    {{outlet}}
  </div>

</section>
