<section class="route city">

  <nav class="city-nav">

    {{#link-to 'index' class="home-button"}}
      <img src="/assets/images/house.svg">  
    {{/link-to}}

    <ul>
      <li><span>{{model.municipality}}</span></li>
      <li>
        {{link-to 'All Sectors' 'city.index'}}
      </li>
      <li>
        {{link-to 'Industrial' 'city.industrial'}}
      </li>
      <li>
        {{link-to 'Commercial' 'city.commercial'}}
      </li>
      <li>
        {{link-to 'Residential' 'city.residential'}}
      </li>
    </ul>

  </nav><!--/ .menu -->

  <div class="content-window">
    {{outlet}}
  </div>

</section>
